In [2]:
import pandas as pd
import numpy as np

In [12]:
my_dict = {"A": ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(my_dict)
print(type(my_dict))

{'A': ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
<class 'dict'>

In [13]:
print(pd.DataFrame(my_dict))
print(type(pd.DataFrame(my_dict)))

   A  2  3
0  1  1  2
1  3  2  4
<class 'pandas.core.frame.DataFrame'>

In [69]:
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['AE'])
print(pd.DataFrame(my_df))

   AE
0   4
1   5
2   6
3   7

In [15]:
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
print(pd.DataFrame(my_series))

                         0
Belgium           Brussels
India            New Delhi
United Kingdom      London
United States   Washington

In [19]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

print(df)
print()
# Use the `shape` property
print(df.shape)

# Or use the `len()` function with the `index` property
print(len(df.index))

   0  1  2
0  1  2  3
1  4  5  6

(2, 3)
2

In [22]:
print(df.loc[0][1])
print(df.iloc[0][1])

2
2

In [23]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

# Pass `2` to `loc`
print(df.loc[2])

# Pass `2` to `iloc`
print(df.iloc[2])

# Pass `2` to `ix`
print(df.ix[2])

48    1
49    2
50    3
Name: 2, dtype: int64
48    7
49    8
50    9
Name: 4, dtype: int64
48    7
49    8
50    9
Name: 4, dtype: int64

In [25]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2.5, 12.6, 4.8], columns=[48, 49, 50])
print(df)
# There's no index labeled `2`, so you will change the index at position `2`
df.ix[2] = [60, 50, 40]
print(df)

# This will make an index labeled `2` and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

In [26]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 4] = pd.Series(['5', '6'], index=df.index)

# Print out `df` again to see the changes
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

ValueError: Wrong number of items passed 2, placement implies 4

# Another Example on Describe

In [6]:
df = pd.DataFrame({'Y': ['A', 'B', 'B', 'A', 'B'],
                    'Z': [10, 5, 6, 11, 12],
                    'f': [10, 5, 6, 11, 12],
                    'g': [246, 45, 3465, 4567, 172],
                                        })
print(df)

   Y   Z   f     g
0  A  10  10   246
1  B   5   5    45
2  B   6   6  3465
3  A  11  11  4567
4  B  12  12   172

In [7]:
df.describe()

               Z          f            g
count   5.000000   5.000000     5.000000
mean    8.800000   8.800000  1699.000000
std     3.114482   3.114482  2151.908107
min     5.000000   5.000000    45.000000
25%     6.000000   6.000000   172.000000
50%    10.000000  10.000000   246.000000
75%    11.000000  11.000000  3465.000000
max    12.000000  12.000000  4567.000000

In [12]:
df.describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9])[[0,2]]

               Z            g
count   5.000000     5.000000
mean    8.800000  1699.000000
std     3.114482  2151.908107
min     5.000000    45.000000
10%     5.400000    95.800000
20%     5.800000   146.600000
30%     6.800000   186.800000
40%     8.400000   216.400000
50%    10.000000   246.000000
60%    10.400000  1533.600000
70%    10.800000  2821.200000
80%    11.200000  3685.400000
90%    11.600000  4126.200000
max    12.000000  4567.000000

# Rolling over Booleans

In [59]:
df = pd.DataFrame({'B': [np.NaN, np.NaN,True,False,True,False],'C': [True, False, False,False,True,True]})
print(df)

       B      C
0    NaN   True
1    NaN  False
2   True  False
3  False  False
4   True   True
5  False   True

In [60]:
df["D"]=df["B"].rolling(3).sum()  >0
df["E"]=df["C"].rolling(3).sum()  >0
print(df)

       B      C      D      E
0    NaN   True  False  False
1    NaN  False  False  False
2   True  False  False   True
3  False  False  False  False
4   True   True   True   True
5  False   True   True   True




# Boolean column operations
### OR

In [62]:
df = pd.DataFrame({'B': [np.NaN, np.NaN,True,False,True,False],'C': [True, False, False,False,True,True]})
print(df)

       B      C
0    NaN   True
1    NaN  False
2   True  False
3  False  False
4   True   True
5  False   True

In [63]:
df["OR B|C"]= (df["B"] | df["C"])
print(df)

       B      C OR B|C
0    NaN   True  False
1    NaN  False  False
2   True  False   True
3  False  False  False
4   True   True   True
5  False   True   True

### AND

In [66]:
df["AND B|C"]= (df["B"] + df["C"]) == 2
print(df)

       B      C OR B|C AND B|C
0    NaN   True  False   False
1    NaN  False  False   False
2   True  False   True   False
3  False  False  False   False
4   True   True   True    True
5  False   True   True   False

# Show Versions

In [12]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Darwin
OS-release: 16.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_AU.UTF-8

pandas: 0.18.1
nose: 1.3.7
pip: 8.1.2
setuptools: 27.2.0
Cython: 0.24.1
numpy: 1.11.1
scipy: 0.18.1
statsmodels: 0.6.1
xarray: None
IPython: 5.1.0
sphinx: 1.4.6
patsy: 0.4.1
dateutil: 2.5.3
pytz: 2016.6.1
blosc: None
bottleneck: 1.1.0
tables: 3.2.3.1
numexpr: 2.6.1
matplotlib: 1.5.3
openpyxl: 2.3.2
xlrd: 1.0.0
xlwt: 1.1.2
xlsxwriter: 0.9.3
lxml: 3.6.4
bs4: 4.5.1
html5lib: None
httplib2: None
apiclient: None
sqlalchemy: 1.0.13
pymysql: None
psycopg2: None
jinja2: 2.8
boto: 2.42.0
pandas_datareader: None

# Market Data Load CSV

In [8]:
import os
import sys
import pandas as pd

import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 

import Skyze_Standard_Library.settings_skyze as settings_skyze

file_path = os.path.join(settings_skyze.test_data_file_path, "%s.csv" % "bitcoin_TEST")
df = pd.read_csv(
                        file_path, 
                        header=None ,
                        names = [
                                  "Date", "Open", "High", "Low",
                                  "Close", "Volume", "MarketCap","HLOrder"
                                ],
                        index_col = "Date"
                        )

In [9]:
df.index

Int64Index([20130428, 20130429, 20130430, 20130501, 20130502, 20130503,
            20130504, 20130505, 20130506, 20130507,
            ...
            20170821, 20170822, 20170823, 20170824, 20170825, 20170826,
            20170827, 20170828, 20170829, 20170830],
           dtype='int64', name='Date', length=1586)

In [10]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap', 'HLOrder'], dtype='object')

In [11]:
df.describe()

/Users/michaelnew/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Open,High,Low,Close,MarketCap,HLOrder
count,1586.000000,1586.000000,1586.000000,1586.000000,1.586000e+03,0.0
mean,643.394458,660.963392,626.942818,646.080580,9.715118e+09,NaN
std,683.114481,708.162550,662.028374,690.013131,1.141257e+10,NaN
min,68.500000,74.560000,65.530000,68.430000,7.792550e+08,NaN
25%,257.615000,262.580000,252.090000,258.112500,3.634720e+09,NaN
50%,444.010000,450.290000,436.635000,444.165000,6.436840e+09,NaN
75%,675.750000,696.280000,655.572500,677.072500,1.019240e+10,NaN
max,4570.360000,4626.520000,4471.410000,4579.020000,7.555660e+10,NaN

In [12]:
df.head(5)

            Open    High     Low   Close Volume   MarketCap  HLOrder
Date
20130428  135.30  135.98  132.10  134.21      -  1500520000      NaN
20130429  134.44  147.49  134.00  144.54      -  1491160000      NaN
20130430  144.00  146.93  134.05  139.00      -  1597780000      NaN
20130501  139.00  139.89  107.72  116.99      -  1542820000      NaN
20130502  116.38  125.60   92.28  105.21      -  1292190000      NaN

In [31]:
df.sort_index(axis=1, ascending = False).head(5)

         Volume    Open   MarketCap     Low    High  HLOrder   Close
Date
20130428      -  135.30  1500520000  132.10  135.98      NaN  134.21
20130429      -  134.44  1491160000  134.00  147.49      NaN  144.54
20130430      -  144.00  1597780000  134.05  146.93      NaN  139.00
20130501      -  139.00  1542820000  107.72  139.89      NaN  116.99
20130502      -  116.38  1292190000   92.28  125.60      NaN  105.21

In [32]:
df.sort_values(by='Close').head(5)

           Open   High    Low  Close Volume  MarketCap  HLOrder
Date
20130705  79.99  80.00  65.53  68.43      -  909526000      NaN
20130706  68.50  75.00  66.82  70.28      -  779255000      NaN
20130707  68.75  74.56  66.62  74.56      -  782352000      NaN
20130708  76.50  80.00  72.60  76.52      -  870912000      NaN
20130709  76.00  78.30  72.52  76.69      -  865585000      NaN

In [41]:
df.Open.head(5)

Date
20130428    135.30
20130429    134.44
20130430    144.00
20130501    139.00
20130502    116.38
Name: Open, dtype: float64

In [43]:
df[0:3]

            Open    High     Low   Close Volume   MarketCap  HLOrder
Date
20130428  135.30  135.98  132.10  134.21      -  1500520000      NaN
20130429  134.44  147.49  134.00  144.54      -  1491160000      NaN
20130430  144.00  146.93  134.05  139.00      -  1597780000      NaN

In [42]:
df['20130708':'20130712']

TypeError: cannot do slice indexing on <class 'pandas.indexes.numeric.Int64Index'> with these indexers [20130708] of <class 'str'>

In [46]:
df.loc[Date[0]]

NameError: name 'Date' is not defined

In [50]:
df.loc['20130708':'20130712',["Open","Low"]].head(5)

           Open    Low
Date
20130708  76.50  72.60
20130709  76.00  72.52
20130710  76.72  76.20
20130711  88.00  85.08
20130712  88.98  88.17

In [52]:
df.loc['20130709',"Open"]

KeyError: 'the label [20130709] is not in the [index]'

In [53]:
df.iloc[68]

Open             79.99
High                80
Low              65.53
Close            68.43
Volume               -
MarketCap    909526000
HLOrder            NaN
Name: 20130705, dtype: object

In [55]:
df[df.Open <76]

           Open   High    Low  Close Volume  MarketCap  HLOrder
Date
20130706  68.50  75.00  66.82  70.28      -  779255000      NaN
20130707  68.75  74.56  66.62  74.56      -  782352000      NaN

In [69]:
df[df<700].head(5)

            Open    High     Low   Close Volume  MarketCap  HLOrder
Date
20130428  135.30  135.98  132.10  134.21      -        NaN      NaN
20130429  134.44  147.49  134.00  144.54      -        NaN      NaN
20130430  144.00  146.93  134.05  139.00      -        NaN      NaN
20130501  139.00  139.89  107.72  116.99      -        NaN      NaN
20130502  116.38  125.60   92.28  105.21      -        NaN      NaN

# MKT DATA DATE INDEX

In [5]:
import os
import sys
import pandas as pd
import Skyze_Standard_Library.settings_skyze as settings_skyze

file_path = os.path.join(settings_skyze.test_data_file_path, "%s.csv" % "bitcoin_TEST")
df = pd.read_csv(
                        "../"+file_path, 
                        header=None ,
                        names = [
                                  "Date", "Open", "High", "Low",
                                  "Close", "Volume", "MarketCap","HLOrder"
                                ],
                        #index_col = "Date"
                        )
print(df.head(5))

       Date    Open    High     Low   Close Volume   MarketCap  HLOrder
0  20130428  135.30  135.98  132.10  134.21      -  1500520000      NaN
1  20130429  134.44  147.49  134.00  144.54      -  1491160000      NaN
2  20130430  144.00  146.93  134.05  139.00      -  1597780000      NaN
3  20130501  139.00  139.89  107.72  116.99      -  1542820000      NaN
4  20130502  116.38  125.60   92.28  105.21      -  1292190000      NaN

In [6]:
import datetime as datetime
from dateutil import parser
df.index = [parser.parse(str(d)) for d in df["Date"]]
del df["Date"]
#df.index = pd.to_datetime(df.index)
p_mktData = df
print(p_mktData.head(5))

              Open    High     Low   Close Volume   MarketCap  HLOrder
2013-04-28  135.30  135.98  132.10  134.21      -  1500520000      NaN
2013-04-29  134.44  147.49  134.00  144.54      -  1491160000      NaN
2013-04-30  144.00  146.93  134.05  139.00      -  1597780000      NaN
2013-05-01  139.00  139.89  107.72  116.99      -  1542820000      NaN
2013-05-02  116.38  125.60   92.28  105.21      -  1292190000      NaN

In [125]:

market_name = "p_mkt_name"
days = p_mktData.High.count()
print(days)
print(df.index[0])
print(df.index[days-1])
print(type(df.index[0]))
startDate       = p_mktData.index[0].to_datetime().strftime("%B %d, %Y")
endDate         = p_mktData.index[days-1].to_datetime().strftime("%B %d, %Y")
initialPrice    = p_mktData.Open[days-1]
highestHigh     = p_mktData.High.max()
highestHighDate = p_mktData.High.argmax().strftime("%B %d, %Y")
highMult        = round(highestHigh/initialPrice,2)
lowestLow       = p_mktData.Low.min()
lowestLowDate   = p_mktData.High.argmin().strftime("%B %d, %Y")
print(startDate)
print(endDate)
print(initialPrice)
print("highestHigh")
print(highestHigh)
print(highestHighDate)
print(highMult)
print(lowestLow)
print(lowestLowDate)

1586
2013-04-28 00:00:00
2017-08-30 00:00:00
<class 'pandas.tslib.Timestamp'>
April 28, 2013
August 30, 2017
4570.36
highestHigh
4626.52
August 30, 2017
1.01
65.53
July 07, 2013

In [1]:
market_name     = "p_mkt_name"
days            = p_mktData.High.count()
startDate       = p_mktData.index[0].to_datetime().strftime("%B %d, %Y")
endDate         = p_mktData.index[self.days-1].to_datetime().strftime("%B %d, %Y")
initialPrice    = p_mktData.Open[self.days-1]
highestHigh     = p_mktData.High.max()
highestHighDate = p_mktData.High.argmax().strftime("%B %d, %Y")
highMult = round(self.highestHigh/self.initialPrice,2)
lowestLow       = p_mktData.Low.min()
lowestLowDate   = p_mktData.High.argmin().strftime("%B %d, %Y")
lowMult         = round(1-self.lowestLow/self.initialPrice,2)
lowHighRatio    = round(self.highestHigh/self.lowestLow,2)

NameError: name 'p_mktData' is not defined

In [2]:

print(p_mktData.head(5))

NameError: name 'p_mktData' is not defined

In [ ]:
df.ix[List]

# Multiply

In [7]:
print(p_mktData.head(5))

              Open    High     Low   Close Volume   MarketCap  HLOrder
2013-04-28  135.30  135.98  132.10  134.21      -  1500520000      NaN
2013-04-29  134.44  147.49  134.00  144.54      -  1491160000      NaN
2013-04-30  144.00  146.93  134.05  139.00      -  1597780000      NaN
2013-05-01  139.00  139.89  107.72  116.99      -  1542820000      NaN
2013-05-02  116.38  125.60   92.28  105.21      -  1292190000      NaN

In [ ]:
p_mktData = p_mktData*100000000
print(p_mktData.head(5))

In [ ]:
a = 135